{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block titletag %}{% trans "Confirm E-mail" %}{% endblock %}

{% block furniture %}
<main class="content-wrapper" role="main">
    {% if messages or form.errors %}
    <div class="messages">
        <ul>
            {% if form.errors %}
            {% for field in form %}
            {% if field.errors %}
            <li class="error">
                {{ field.label }}: {{ field.errors }}
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <h1>{% block branding_login %}{% trans "Confirm E-mail Address" %}{% endblock %}</h1>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p>{% blocktrans with confirmation.email_address.email as email %}
        Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for {{ user_display }}.
        {% endblocktrans %}</p>
    <form action="{% url 'account_confirm_email' confirmation.key %}" method="post" autocomplete="off" novalidate>
        {% csrf_token %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <ul class="fields">
            {% for field in form %}
            <li class="full">
                {{ field.label_tag }}
                <div class="field iconfield">
                    {{ field }}
                </div>
            </li>
            {% endfor %}

            <li class="submit">
                {% block submit_buttons %}
                <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Confirming…' %}">
                    <span class="icon icon-spinner"></span><em>{% trans 'Confirm' %}</em></button>
                {% endblock %}
            </li>
        </ul>

    </form>
    {% else %}

    {% url 'account_email' as email_url %}

    <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new
        e-mail confirmation request</a>.{% endblocktrans %}</p>

    {% endif %}

</main>
{% endblock %}
