{% extends "account/base.html" %}

{% load i18n %}

{% block titletag %}{% trans "Change Password" %}{% endblock %}

{% block furniture %}
<main class="content-wrapper" role="main">
    {% if messages or form.errors %}
    <div class="messages">
        <ul>
            {% if form.errors %}
            {% for field in form %}
            {% if field.errors %}
            <li class="error">
                {{ field.label }}: {{ field.errors }}
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a
        <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    {% if form %}
    <form action="{{ action_url }}" method="post" autocomplete="off" novalidate>
        {% csrf_token %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <ul class="fields">
            {% for field in form %}
            <li class="full">
                {{ field.label_tag }}
                <div class="field iconfield">
                    {{ field }}
                </div>
            </li>
            {% endfor %}

            <li class="submit">
                {% block submit_buttons %}
                <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Signing up…' %}">
                    <span class="icon icon-spinner"></span><em>{% trans 'Change Password' %}</em></button>
                {% endblock %}
            </li>
        </ul>

    </form>
    {% else %}
    <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
{% endif %}
</main>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<!--<script>-->
<!--    $(function(){-->
<!--        $('form input[name=email]').trigger('focus');-->
<!--    })-->
<!--</script>-->
{% endblock %}