{% extends "base_page.html" %}
{% load wagtailcore_tags static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<style>
    table td, table tr, table th{
background: transparent !important;
}

</style>
{% endblock %}

{% block content %}

<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content my-5">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-5 text-center">
                            <span class="section-heading-upper">Event</span>
                            <span class="section-heading-lower">{{ self.title }}</span>
                        </h2>
                        <ul class="list-group list-group-flush text-left">
                            <li class="list-group-item bg-transparent">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 text-primary font-weight-bold">Date</div>
                                    <div class="col-xs-8 col-md-9">
                                        {{ self.start_datetime }}
                                        {% if self.end_datetime %} to {{ self.end_datetime }}{% endif %}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 text-primary font-weight-bold">Location</div>
                                    <div class="col-xs-8 col-md-9">{{ self.location }}</div>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 text-primary font-weight-bold">Type</div>
                                    <div class="col-xs-8 col-md-9">
                                        {{ self.event_type }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 text-primary font-weight-bold">Description</div>
                                    <div class="col-xs-8 col-md-9">{{ self.description|safe }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if results %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">All</span>
                        <span class="section-heading-lower">Results</span>
                    </h2>
                    <div>
                        <table class="display responsive" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Entry</th>
                                <th>Time</th>
                                <th>Placement</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in results %}
                            <tr>
                                <td>
                                    <a href="{% pageurl result %}">
                                        {{ result.entry }}
                                    </a>
                                </td>
                                <td>
                                    {{ result.total_time_string }}
                                </td>
                                <td>
                                    {{ result.rank }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}

{% block javascript %}
<script href="{% static 'private/vendor/datatables/dataTables.bootstrap4.min.js' %}" rel="stylesheet"></script>
<script src="{% static 'private/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
      $('#dataTable').DataTable({
        responsive: true,
        searching: false,
        stripe: true,
        "order": [],
        "lengthChange": false
      });
    });

</script>
{% endblock %}