{% extends "base_page.html" %}
{% load wagtailcore_tags %}

{% block head %}
{{ block.super }}
<link href='https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css' rel='stylesheet'/>
<link href='https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css' rel='stylesheet'/>
<link href='https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.css' rel='stylesheet'/>
<link href='https://unpkg.com/@fullcalendar/bootstrap@4.4.0/main.min.css' rel='stylesheet' />
{% endblock %}

{% block content %}

{% if events_future %}
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content my-5">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-5 text-center">
                            <span class="section-heading-upper">Events</span>
                            <span class="section-heading-lower">Upcoming</span>
                        </h2>
                        <ul class="list-group list-group-flush text-left">
                            {% for event in events_future %}
                            <li class="list-group-item bg-transparent">
                                <div class="row">
                                    <div class="col-xs-4 col-md-4 text-primary font-weight-bold">
                                        {{ event.start_datetime }}
                                    </div>
                                    <div class="col-xs-8 col-md-8">
                                        <a href="{% pageurl event %}">{{ event.title }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if events_recent %}
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content my-5">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-5 text-center">
                            <span class="section-heading-upper">Events</span>
                            <span class="section-heading-lower">Recent</span>
                        </h2>
                        <ul class="list-group list-group-flush text-left">
                            {% for event in events_recent %}
                            <li class="list-group-item bg-transparent">
                                <div class="row">
                                    <div class="col-xs-4 col-md-4 text-primary font-weight-bold">
                                        {{ event.start_datetime }}
                                    </div>
                                    <div class="col-xs-8 col-md-8">
                                        <a href="{% pageurl event %}">{{ event.title }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="d-none d-md-block page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-2">
                        <span class="section-heading-upper">All</span>
                        <span class="section-heading-lower">Events</span>
                    </h2>
                    <div class="card-body">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascript %}
<script src='https://unpkg.com/@fullcalendar/core@4.4.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/interaction@4.4.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/list@4.4.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/bootstrap@4.4.0/main.min.js'></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list', 'bootstrap' ],
      defaultView: 'dayGridMonth',
      timeZone: 'America/New_York',
      themeSystem: 'bootstrap',
      header: {
        left: '',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,listYear'  //,timeGridDay'
      },
      footer: {
        center: 'prev,prevYear,today,nextYear,next',
      },

      events: {{ api_event|safe }}  // data from view
    });

    calendar.render();
  });
</script>
{% endblock %}