<div class="list-group">
    {% for story in story_list %}
    <a href="{% url 'story:view' story.slug %}"
       class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ story.title }}</h5>
            <small>{{ story.date_added|timesince }} ago</small>
        </div>
        <p class="mb-1">{{ story.story|safe|truncatewords_html:15 }}</p>
        <div class="d-flex w-100 justify-content-between">
            <small>Created by: {{ story.created_by }}</small>
            <small>Views: {{ story.page_views }}</small>
        </div>
    </a>
    {% endfor %}
</div>
