asgiref==3.2.10
Babel==2.8.0
beautifulsoup4==4.8.2
boto3==1.14.29
botocore==1.17.29
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
defusedxml==0.6.0
diff-match-patch==20200713
dj-database-url==0.5.0
Django==3.0.8
django-allauth==0.42.0
django-autocomplete-light==3.5.1
django-cleanup==5.0.0
django-cuser==2017.3.16
django-datatables-view==1.19.1
django-filter==2.3.0
django-heroku==0.3.1
django-libs==2.0.3
django-mailer==2.0.1
django-modelcluster==5.0.2
django-recaptcha==2.0.6
django-resized==0.3.11
django-storages==1.9.1
django-summernote==0.8.11.6
django-taggit==1.3.0
django-tempus-dominus==5.1.2.13
django-treebeard==4.3.1
djangorestframework==3.11.1
docutils==0.16
draftjs-exporter==2.1.7
et-xmlfile==1.0.1
gunicorn==20.0.4
html5lib==1.1
httplib2==0.18.1
idna==2.10
jdcal==1.4.1
jmespath==0.10.0
l18n==2018.5
lml==0.0.9
lockfile==0.12.2
oauth2client==4.1.3
oauthlib==3.1.0
odfpy==1.3.5
openpyxl==3.0.4
Pillow==7.2.0
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyexcel-io==0.5.20
pyexcel-ods==0.5.3
python-akismet==0.4.2
python-dateutil==2.8.1
python-decouple==3.3
python-mimeparse==1.6.0
python3-openid==3.2.0
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.3.3
schedule==0.6.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
tablib==2.0.0
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.10
wagalytics==1.2
wagtail==2.10
wagtail-autocomplete==0.6
wagtail-django-recaptcha==1.0
wagtail-robots==0.3.0
wagtailfontawesome==1.2.1
webencodings==0.5.1
whitenoise==5.1.0
Willow==1.4
wincertstore==0.2
xlrd==1.2.0
XlsxWriter==1.2.9
xlwt==1.3.0
zope.interface==5.1.0
