{% extends 'private.html' %}
{% load tz %}
{% block title %}{{ event.name }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Actions</h6>
                <div class="dropdown no-arrow">
                </div>
            </div>
            <div class="card-body">
                {% if user == event.created_by or user.is_staff %}
                <p>
                    <a type="button" class="btn btn-outline-primary btn-block"
                       href="{% url 'event:member_event_edit' event.id %}">
                        Edit Event
                    </a>
                </p>
                {% else %}
                <p>
                    <a type="button" class="btn btn-outline-primary btn-block disabled"
                       href="">
                        Edit Event
                    </a>
                </p>
                {% endif %}
                {% if user.is_staff %}
                <p>
                    <a type="button" class="btn btn-outline-primary btn-block"
                       href="" data-toggle="modal" data-target="#deleteModal">
                        Delete Event
                    </a>
                    {% include "private/includes/event_delete_modal.html" with event=event %}
                </p>
                {% else %}
                <p>
                    <a type="button" class="btn btn-outline-primary btn-block disabled"
                       href="">
                        Delete Event
                    </a>
                </p>
                {% endif %}
                {% if event.event_type == 'Race' %}
                {% if user.profile %}
                <p>
                    <a type="button" class="btn btn-outline-primary btn-block"
                       href="{% url 'event:member_result_create' event.id%}">
                        Add Result
                    </a>
                </p>
                {% else %}
                <h6 class="font-weight-bold text-primary text-center">You must first claim a Profile before adding.</h6>
                <p>
                    <a type="button" class="btn btn-outline-primary btn-block disabled" href="">
                        Add Result
                    </a>
                </p>
                {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#detailCollapseCard" class="d-block card-header py-3" data-toggle="collapse" role="button"
               aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Details</h6>
            </a>
            <div class="collapse" id="detailCollapseCard">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">Created By</div>
                                <div class="col-md-6 text-primary">{{ event.created_by }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">Added</div>
                                <div class="col-md-6 text-primary">{{ event.date_added }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">Last Modified By</div>
                                <div class="col-md-6 text-primary">{{ event.last_modified_by }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">Updated</div>
                                <div class="col-md-6 text-primary">{{ event.date_updated }}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Description</h6>
                <div class="dropdown no-arrow">
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-md-3">Event Name</div>
                            <div class="col-xs-8 col-md-9 text-primary">{{ event.name }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-md-3">Time</div>
                            <div class="col-xs-8 col-md-9 text-primary">
                                {{ event.start_datetime }}
                                {% if event.end_datetime %} until {{ event.end_datetime }}{% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-md-3">Location</div>
                            <div class="col-xs-8 col-md-9 text-primary">{{ event.location }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-md-3">Description</div>
                            <div class="col-xs-8 col-md-9 text-primary">{{ event.description|safe }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {% if results %}
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Results</h6>
                <div class="dropdown no-arrow">
                </div>
            </div>
            <div class="card-body table-responsive">
                {% include "private/includes/result_list.html" with result_list=results %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}