{% extends 'private.html' %}
{% load tz %}
{% block title %}Leader Board{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-9">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Leader Board</h6>
                <div class="dropdown no-arrow">
                </div>
            </div>
            <div class="card-body table-responsive">
                {% if result_list %}
                <div class="list-group">
                    {% for result in result_list %}
                    <a href="{% url 'team:view_profile' result.id %}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ result.rank }}. {{ result.name }}</h5>
                            <small class="text-muted">{{ result.distance }}meters</small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1">Total Time: {{ result.total_time_string }}</p>
                            {% if result.lightweight %}
                            <i class="fas fa-feather-alt"></i>
                            {% endif %}
                        </div>
                        <small class="text-muted">{{ result.pace_string }}</small>
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <div class="text-center">
                    <i class="far fa-flushed"></i> No Results Found
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Filters</h6>
                <div class="dropdown no-arrow">
                </div>
            </div>
            <div class="card-body">
                <form action="{% url 'event:member_result_leader_board' %}" method="get">
                    <!--Distance-->
                    <div class="input-group mb-3">
                        <select class="custom-select" name="distance" id="distance">
                            <option selected value="2000">Distance</option>
                            <option value="2000">2k</option>
                            <option value="6000">6k</option>
                        </select>
                    </div>
                    <!--Lightweight-->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" value="True" id="lightweight"
                                       name="lightweight">
                            </div>
                        </div>
                        <label class="form-control" for="lightweight">Lightweight Only</label>
                    </div>


                    <div class="dropdown-divider"></div>

                    <div class="input-group mb-3 my-3">
                        <div class="col">
                            <input class="btn btn-outline-primary btn-block" type="submit" value="Apply Filters">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}