{% extends 'private.html' %}

{% block title %}View Profile: {{ profile.full_name }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-3">
        {% if profile.photo %}
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Photo</h6>
                <div class="dropdown no-arrow">
                </div>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid" style="width: 25rem;"
                         src="{{ profile.photo.url }}" alt="">
                </div>
            </div>
        </div>
        {% endif %}
        {% if profile_status %}
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Profile Status</h6>
                <div class="dropdown no-arrow">
                </div>
            </div>
            <div class="card-body">
                {% if profile_status == 'unclaimed' %}
                <h6 class="font-weight-bold text-primary text-center">This profile is currently unclaimed.</h6>
                <a type="button" class="btn btn-outline-primary btn-block"
                   href="{% url 'team:claim_profile' profile.id%}">
                    Claim this Profile
                </a>
                {% elif profile_status == 'pending' %}
                <h6 class="font-weight-bold text-primary">Pending claim submitted by {{ pending_owner }}</h6>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Actions</h6>
                <div class="dropdown no-arrow">
                </div>
            </div>
            <div class="card-body">
                {% if allowed_to_edit %}
                <a type="button" class="btn btn-outline-primary btn-block"
                   href="{% url 'team:edit_profile' profile.id%}">
                    Edit Profile
                </a>
                <a type="button" class="btn btn-outline-primary btn-block"
                   href="{% url 'team:manage_memberships' profile_id=profile.id%}">
                    Manage Membership
                </a>
                <a type="button" class="btn btn-outline-primary btn-block"
                   href="{% url 'team:manage_awards' profile_id=profile.id%}">
                    Manage Awards
                </a>
                {% else %}
                <h6 class="font-weight-bold text-primary text-center">You do not have access to edit this Profile</h6>
                <a type="button" class="btn btn-outline-primary btn-block disabled"
                   href="{% url 'team:edit_profile' profile.id%}">
                    Edit Profile
                </a>
                <a type="button" class="btn btn-outline-primary btn-block disabled"
                   href="{% url 'team:manage_memberships' profile_id=profile.id%}">
                    Manage Membership
                </a>
                <a type="button" class="btn btn-outline-primary btn-block disabled"
                   href="{% url 'team:manage_awards' profile_id=profile.id%}">
                    Manage Awards
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="accordion">
            <!-- Details -->
            <div class="card shadow">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            Details
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <h5>GT ID</h5>
                        <p>*****{{ profile.gtid|slice:'-4:' }}</p>
                        <h5>Birthday</h5>
                        <p>{{ profile.birthday }}</p>
                        <h5>Hometown</h5>
                        <p>{{ profile.hometown }}</p>
                        <h5>Major</h5>
                        <p>{{ profile.major }}</p>
                        <h5>Bio</h5>
                        <p>{{ profile.bio|safe }}</p>
                    </div>
                </div>
            </div>
            <!-- Semesters -->
            <div class="card shadow">
                <div class="card-header d-flex flex-row align-items-center justify-content-between" id="headingTwo">
                    <h5 class="mb-0">
                        {% if profile.membership_set.count > 0 %}
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Semesters
                        </button>
                        <span class="badge badge-primary badge-pill">{{ profile.membership_set.count }}</span>
                        {% else %}
                        <button class="btn btn-link collapsed disabled" data-toggle="collapse"
                                data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Semesters
                        </button>
                        {% endif %}
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body table-responsive">
                        {% with profile.membership_set.all as memberships %}
                        {% include "membership/includes/membership_list.html" with membership_list=memberships %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <!-- Awards -->
            <div class="card shadow">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        {% if profile.awardgiven_set.count > 0 %}
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Awards
                        </button>
                        <span class="badge badge-primary badge-pill">{{ profile.awardgiven_set.count }}</span>
                        {% else %}
                        <button class="btn btn-link collapsed disabled" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Awards
                        </button>
                        {% endif %}
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body table-responsive">
                        {% include "award/includes/award_list.html" with award_list=profile.awardgiven_set.all %}
                    </div>
                </div>
            </div>
            <!-- Results -->
            <div class="card shadow">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        {% if profile.results_rowed.all.count > 0 %}
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                            Results
                        </button>
                        <span class="badge badge-primary badge-pill">{{ profile.results_rowed.all.count }}</span>
                        {% else %}
                        <button class="btn btn-link collapsed disabled" data-toggle="collapse"
                                data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                            Boats
                        </button>
                        {% endif %}
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body table-responsive">
                        {% include "private/includes/result_list.html" with result_list=profile.results_rowed.all %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}