{% extends 'private.html' %}

{% block title %}View Profile{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-3">
        <a type="button" class="btn btn-outline-primary btn-block"
           href="{% url 'team:manage_memberships' profile_id=profile.id%}">
            Manage Membership
        </a>
        <a type="button" class="btn btn-outline-primary btn-block"
           href="{% url 'team:manage_awards' profile_id=profile.id%}">
            Manage Awards
        </a>
        <br>
    </div>
    <div class="col-sm-9">
        <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
        <h5>{{ profile.gtid }}</h5>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            Details
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <h5>Birthday</h5>
                        <p>{{ profile.birthday }}</p>
                        <h5>Hometown</h5>
                        <p>{{ profile.hometown }}</p>
                        <h5>Major</h5>
                        <p>{{ profile.major }}</p>
                        <h5>Bio</h5>
                        <p>{{ profile.bio }}</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        {% if profile.membership_set.count > 0 %}
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Semesters
                        </button>
                        <span class="badge badge-primary badge-pill">{{ profile.membership_set.count }}</span>
                        {% else %}
                        <button class="btn btn-link collapsed disabled" data-toggle="collapse"
                                data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Semesters
                        </button>
                        {% endif %}
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body table-responsive">
                        {% include "membership/includes/membership_list.html" with membership_list=profile.membership_set.all %}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        {% if profile.awardgiven_set.count > 0 %}
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Awards
                        </button>
                        <span class="badge badge-primary badge-pill">{{ profile.awardgiven_set.count }}</span>
                        {% else %}
                        <button class="btn btn-link collapsed disabled" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Awards
                        </button>
                        {% endif %}
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body table-responsive">
                        {% include "award/includes/award_list.html" with award_list=profile.awardgiven_set.all %}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        {% if profile.awardgiven_set.count > 0 %} <!-- TODO: include boats if-else statement -->
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                            Boats
                        </button>
                        <span class="badge badge-primary badge-pill"></span>  <!-- TODO: include boat count -->
                        {% else %}
                        <button class="btn btn-link collapsed disabled" data-toggle="collapse"
                                data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                            Boats
                        </button>
                        {% endif %}
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body table-responsive">
                        <!-- TODO: include boats table -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}