{% load navigation_tags %}

<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Georgia Tech</span>
    <span class="site-heading-lower">Rowing</span>
</h1>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4 sticky-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none"
           href="{{ page.get_site.root_page.url }}">
            GT Crew
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                {% block navigation %}
                {# main_menu is defined in base/templatetags/navigation_tags.py #}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
                <li class="nav-item px-lg-4">
                    {% if request.user.is_authenticated %}
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'account_logout' %}">
                        Logout
                    </a>
                    {% else %}
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'account_login' %}">
                        Login
                    </a>
                    {% endif %}
                </li>
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>