{% extends "gtcrew/generic_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
{{ block.super }}

<div class="site-frame">
    <section class="page-section">
        <div class="content-grid content-grid--narrow">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4 text-center">
                    <span class="section-heading-upper">Get In Touch</span>
                    <span class="section-heading-lower">{{ page.title }}</span>
                </h2>
                <form action="{% pageurl page %}" method="POST" role="form">
                    {% csrf_token %}
                    {% if form.subject.errors %}
                    <ol role="alertdialog">
                        {% for error in form.subject.errors %}
                        <li role="alert"><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ol>
                    {% endif %}

                    {% for field in form %}
                    <div class="form-group mb-3">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                        <small id="{{ field.id_for_label }}_help" class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <input class="btn btn-primary btn-block" value="Submit" type="submit">
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock content %}