{% if post.photo is None %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">{{ post.header1 }}</span>
                        <span class="section-heading-lower">{{ post.header2 }}</span>
                    </h2>
                    <p class="mb-0">{{ post.text }}</p>
                    {% if post.additional_link %}
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="{{ post.additional_link }}">
                            {{ post.additional_link_text }}
                        </a>
                    </div>
                    {% endif %}
                    {% if post.document %}
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="{{ post.document.url }}">
                            {{ post.document_name }}
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% elif page.template == 'HOME' %}
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ post.photo.url }}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">{{ post.header1 }}</span>
          <span class="section-heading-lower">{{ post.header2 }}</span>
        </h2>
        <p class="mb-3">{{ post.text }}</p>
        {% if post.additional_link %}
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="{{ post.additional_link }}">{{ post.additional_link_text }}</a>
        </div>
        {% endif %}
        {% if post.document %}
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="{{ post.document.url }}">{{ post.document_name }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% elif page.template == 'ABOUT' %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{ post.photo.url }}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">{{ post.header1 }}</span>
              <span class="section-heading-lower">{{ post.header2 }}</span>
            </h2>
            <p class="mb-3">{{ post.text }}</p>
            {% if post.additional_link %}
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{{ post.additional_link }}">{{ post.additional_link_text }}</a>
            </div>
            {% endif %}
            {% if post.document %}
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{{ post.document.url }}">{{ post.document_name }}</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">{{ post.header1 }}</span>
            <span class="section-heading-lower">{{ post.header2 }}</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ post.photo.url }}" alt="">
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">{{ post.text|safe }}</p>
          {% if post.additional_link %}
            <div class="intro-button mx-auto">
              <center>
              <br><a class="btn btn-primary btn-xl" href="{{ post.additional_link }}">
                  {{ post.additional_link_text }}
              </a>
              </center>
            </div>
          {% endif %}
          {% if post.document %}
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{{ post.document.url }}">{{ post.document_name }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}