{% extends "base.html" %}
{% load recaptcha %}

{% block navbar %}
    {% include "team/includes/navbar.html" with pages=pages current='none' %}
{% endblock %}

{% block content %}
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Start Strong</span>
                <span class="section-heading-lower">Sign Up</span>
              </h2>
              <p class="mb-0" style="position:relative; z-index:99">
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
               <!-- {% for field in form %}
                  <p>
                    {{ field.label_tag }}
                    
                    {{ field }}<br>
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}-->
                {% recaptcha_init %}
                <button type="submit">Submit</button>
              </form>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
