{% extends 'base.html' %}

{% block navbar %}
    {% include "team/includes/navbar-goback.html" %}
{% endblock %}

{% block content %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Team</span>
            <span class="section-heading-lower">Roster</span>
          </h2>
          <!--
          <p class="address mb-5">
            <em>
              <strong>Team</strong>
              <br>
              Officer Board
            </em>
          </p>
          --->
    {% if membership_list %}
        <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
        {% for member in membership_list %}
            <li class="list-unstyled-item list-hours-item d-flex">
            <a href="{% url 'team:member_detail' member.id %}">{{ member.profile.first_name }} {{ member.profile.last_name }}</a>
            <span class="ml-auto">{{ member.squad }}</span>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No members on the roster.</p>
    {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
