{% extends "base_page.html" %}
{% load wagtailcore_tags %}

{% block content %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">All</span>
                        <span class="section-heading-lower">People</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <div class="row text-center">
                            {% for person in people %}
                            <div class="col-6 col-lg-4 my-2">
                                <a href="{% pageurl person %}">{{ person.title }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}