{% extends "base_page.html" %}
{# load wagtailcore_tags #}

{% block content %}
<!--TODO: Add Person Page-->
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading">
                        <span class="section-heading-upper">Coming</span>
                        <span class="section-heading-lower">Soon</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}