{% extends "base_page.html" %}
{% load wagtailcore_tags static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<style>
    table td, table tr, table th{
background: transparent !important;
}
</style>

{% endblock %}

{% block content %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Racing</span>
                        <span class="section-heading-lower">Shells</span>
                    </h2>
                    <div>
                        <table class="display responsive" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Year</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for shell in shells %}
                                <tr>
                                    <td>
                                        <a href="{% pageurl shell %}">
                                            {{ shell }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if shell.specific.date_acquired %}
                                        {{ shell.specific.date_acquired | date:'Y' }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ shell.specific.manufacturer }} {{ shell.specific.size }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascript %}
<script href="{% static 'private/vendor/datatables/dataTables.bootstrap4.min.js' %}" rel="stylesheet"></script>
<script src="{% static 'private/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
      $('#dataTable').DataTable({
        responsive: true,
        searching: false,
        stripe: true,
        "order": [],
        "lengthChange": false
      });
    });
</script>
{% endblock %}