<table class="table">
    <thead>
    <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for profile in profile_list %}
    <tr>
        <td>{{ profile.first_name }}</td>
        <td>{{ profile.last_name }}</td>
        <td>{{ profile.status }}</td>
        <td>
            <a href="{% url 'team:view_profile' profile.id %}">
                <i class="fa fa-info-circle"></i>
            </a>
        </td>
        <td>
            <a href="{% url 'team:edit_profile' profile.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% endif %}
        {% for i in pages %}
        {% if page_obj.number == i %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}